.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: papayawhip;
  cursor:pointer;
  font-family: 'Special Elite', cursive;
}

.btn--danger {
  background-color: #730000;
}

.btn--danger:hover {
  background-color: #730000;
}

.btn--action:hover {
  background-color: #495C27;
}

.btn--action {
  background-color: darkolivegreen;
}

.btn--wrapper {
  margin: 50px 0px 30px -115px;
}
